<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">El resultado de las busqueda es: {{Resultados()}}</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div *ngFor="let item of EntrenamientoB()" style="width: 18rem; margin-left: 5rem;">
        <div class="card" style="width: 18rem;">
          <img [src]="item.getUrl()" width="1000" height="200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.getTitulo()}}</h5>
            <a [routerLink]="['/elemento',item.getTitulo()]" routerLinkActive="router-link-active" class="btn btn-primary">Ver mas</a>
          </div>
        </div>
    </div>
  </div>
</div>