<div class="jumbotron">
    <h1 class="display-4">Dieta Vegana</h1>
    <p class="lead">Esta dieta implica la abstención del uso de productos y servicios de origen animal,ya sea para alimentación, vestimenta, 
        medicamentos, cosméticos, transporte, experimentación, ayuda en el trabajo o entretenimiento, a excepción en este último caso de los animales 
        de compañía. El veganismo es definido como un estilo de vida,como una ideología, y por algunos detractores como una secta. A quienes practican
        el veganismo se les llama veganos,así como a los productos y servicios aptos para veganos. Los fundamentos del veganismo incluyen 
        argumentos éticos, ambientales, de salud y humanitarios, aunque existe debate y controversia sobre la solidez de dichos argumentos.</p>
    <hr class="my-4">
    <p>La Academia de Nutrición y Dietética de Estados Unidos, la Asociación Dietética Británica, los Dietistas de Canadá y la Asociación de 
        Dietistas de Australia consideran que las dietas veganas bien planificadas son apropiadas para todas las etapas del ciclo de vida,
        mientras que la Sociedad Alemana de Nutrición y la Agencia Española de Consumo, Seguridad Alimentaria y Nutrición no las recomiendan en bebés,
        niños ni adolescentes, ni durante el embarazo y la lactancia.</p>
  </div>
<app-tecnologiahijo [miArray]="array2" [name]="name"></app-tecnologiahijo>