<div class="jumbotron">
    <h1 class="display-4">Dieta Basal</h1>
    <p class="lead">Las características principales de esta alimentación son un alto consumo de productos vegetales (frutas, verduras, legumbres, frutos secos), 
        pan y otros cereales (siendo el trigo un alimento opcional), el aceite de oliva como grasa principal, el vinagre y el consumo de vino en cantidades moderadas.</p>
    <hr class="my-4">
    <p>Un estudio realizado en 2012 en una muestra de once mil quince universitarios, se constató que las personas que seguían con regularidad una dieta mediterránea, 
        obtuvieron mejor puntuación en la escala "Health-Related Quality of Life (HRQOL)"</p>
  </div>
<app-tecnologiahijo [miArray]="array2" [name]="name"></app-tecnologiahijo>
