<div align="center">
  <img [src]="Deporte().getUrl()" height="400" width="600" class="img-fluid" alt="Responsive image" aling="center">
</div>
<br>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Acciones a realizar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of Deporte().getTips()">
      <th scope="row">Semana *
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Hecho
          </label>
        </div>
      </th>
      <th scope="row">{{item}}</th>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
  Motivacional
</button>


<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">No pares ahora, continua asi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Felicidades, continua asi
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>