<div class="jumbotron">
    <h1 class="display-4">Dietas Vegetarianas</h1>
    <p class="lead">La gastronomía vegetariana es aquella que utiliza ingredientes que cumplen los criterios vegetariano, excluyendo la carne. Para el ovolactovegetarianismo 
        (el tipo más común de vegetarianismo de Occidente) están permitidos los huevos y los productos lácteos, tales como la leche y el queso. Las formas más estrictas de 
        vegetarianismo son el veganismo y el frugivorismo, que excluyen todos los productos animales, incluyendo los productos lácteos y la miel, e 
        incluso algunos azúcares refinados que se filtran y blanquean con carbón de hueso.</p>
    <hr class="my-4">
    <p>La Asociación Dietética Americana (1997) con una postura de apoyo a la dieta vegetariana, ha señalado que la dieta vegetariana puede ser sana y adecuada</p>
  </div>
<app-tecnologiahijo [miArray]="array2" [name]="name"></app-tecnologiahijo>